<div class="row h-80"></div>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center" >
                
                    <div class="card-transparent shadow">
                        <p class="h4 card-header text-center">LOGIN</p>
                        <div class="card-body bg-transparent">
    
                            <a class="btn btn-primary btn-lg w-50" [routerLink]="['/login']">LOGIN</a>
                            <div class="text-center">New User? <a [routerLink]="['/register']" class="navbar-brand">Sign Up</a></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>