<div *ngIf="usertype=='deliveryboy'">
    <app-navbar></app-navbar>
    <div class=" bg-transparent table-responsive mx-2 text-center">
        <h1>DeliveryBoy Dashboard</h1>
    </div>
    <div class="row text-center">
        <div class="col-6 ml-5 mt-4 text-center offset-2">
        <h2>Pending Delivery</h2>
        <div class="table-responsive">
            
            <table class="table table-dark text-white">
                <tr>
                    <th>Order ID</th>
                    <th>Book ID</th>
                    <th>User ID</th>
                    <th>Seat No.</th>
                    <th>Delivery Type</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let d of delivery">
                    <td>{{d.orderid}}</td>
                    <td>{{d.bookid}}</td>
                    <td>{{d.userid}}</td>
                    <td>{{d.seatno}}</td>
                    <td>{{d.deliverytype}}</td>
                    <td><button class="btn btn-danger" (click)="deliver(d)">Deliver Order</button></td>
                </tr>
            </table>

    </div>
</div>
    </div>

</div>

<div *ngIf="usertype!='deliveryboy'">
    <h1>You are not authorized to access !</h1>
</div>
